@import 'custom';

html{
    position: relative;
    min-height: 100%;
    font-size: 18px; 
}

h1{
    font-family: Grow West;
    font-size: 2.5rem;
}

h2{
    font-family: LEMON MILK;
    font-size: 2rem;
}

p, .form-label, .navbar{
    font-family: Raleway;
    font-size: 1rem;
}

main{
    margin-bottom: 280px;
    background-color: $basecolor;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.hero-scene{
    position: relative;
    margin-bottom: 15px;  
    &::before{		
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/elef.png);
        background-size: cover;
    }

    *{
        position:relative;
    }

    .hero-scene-content{		
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



.text-justify{	 
    text-align: justify;
}

.hero-scene-connection{
    position: relative;
    margin-bottom: 15px;  // cette marge permet de créer un espace après cette zone pour aérer la site
    &::before{		// zone relative à l’image en background
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/elef.png);	// changer le lien de l’image
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-connection-content{		// zone relative au contenu écrit du bigtitle
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.messagewarning{
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.buttonconnection{
    padding-bottom: 15px;
}

.contactbox{
    padding: 15px;
}