@import 'custom';

html {
    font-size: 20px;
    position: relative;
    min-height: 100%;
}

header {
    background-color: $primary;
}

main {
    background-color: $base;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $primary;
}


.navbar {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}


h4 {
    font-size: 0.8rem;
    font-family: 'Work Sans', sans-serif;
}

.navbar-toggler, .span {
    background-color: $secondary1;
}